<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
  <div class="chip red-text">
    <%= error.msg %>
    <i class="close material-icons">close</i>
  </div>
  
  <% }); %> <% } %>

  <% if(typeof success != 'undefined'){ %> <% success.forEach(function(suc) { %>
          <div class="chip  green-text">
            <%= suc.msg %> . 
            click the   
            <a href="salary/search" style=>link here</a>  to see
            <i class="close material-icons">close</i>
          </div>
    <% }); %> <% } %>

  
 
  